A Jupyter Notebook for Naive and super quick ;-) prediction of Uefa Euro 2020 football competition

Import all the required modules:

In [16]:
import pandas as pd
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

Load csv data containing total team values in euro.

In [12]:
team_values = pd.read_csv('data/team_values.csv')

In [13]:
print(team_values)

              Team       Value
0          England  1270000000
1           France  1030000000
2          Germany  9365000000
3            Spain   915000000
4         Portugal  8725000000
5            Italy   771000000
6          Belgium  6694000000
7      Netherlands   607050000
8          Croatia   375800000
9           Turkey   325000000
10         Austria   320100000
11         Denmark   310700000
12     Switzerland   283500000
13        Scotland   269850000
14          Poland   254800000
15          Sweden   215050000
16         Ukraine   197200000
17          Russia  1908000000
18           Czech     1900000
19           Wales   176750000
20        Slovakia   131100000
21         Hungary    74500000
22  NorthMacedonia    61800000
23         Finland    44600000

In [14]:
team_values.head()

       Team       Value
0   England  1270000000
1    France  1030000000
2   Germany  9365000000
3     Spain   915000000
4  Portugal  8725000000

In [15]:
fig = px.line(df, x = 'Team', y = 'Value', title='Team total value')
fig.show()

NameError: name 'px' is not defined